<h1>Welcome</h1>

<p>Welcome to your tweets, <%= @user.username%>!!.</p>

  All tweets:

  <% @user.tweets.each do |tweet| %>
    <br>
      * <%= tweet.content %>
    </br>
  <% end %>
<p><a href="/logout">Log Out</a></p>
