<% if Helpers.is_logged_in?(session) %>
<%= @error %>
  <form action='/missions' method="post">

    Create Your Mission:

    <input type="text" name="content"><br>
    <input type="submit" name="submit" id="submit">
  </form>

  <% else %>
      <h1> You Must Be Logged in to see assigned Missions </h1>
  <% end %>
