<!doctype html>
<html>
  <head>
    <title>Kingdom of Heaven Administration</title>
  </head>
  <body>

    <div class="welcome">
      <h1>Welcome to Kingdom of Heaven Administrative Portal</h1>
    </div>
    <%= yield %>
  </body>
</html>
